 <!-- single order page -->
 <section>
     <div class="container" style="position: relative;"">
        <!-- <div class="line_order my-auto"></div> -->
         <div class="orderStatus">
             <div class="d-flex  justify-content-between status_heading align-items-center">
                <div class="my-5"><h2>Track delivery status</h2></div>
                <div class="my-5"> <h3><%=order._id %></h3></div>
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
             </div>
             <div class="fs-2 my-5 status_timeline status_1 " data-status="order_placed"><span>Order Confirmation</span></div>
             <div class="fs-2 my-5 status_timeline status_2 " data-status="confirmed"><span>Order Placed</span></div>
             <div class="fs-2 my-5 status_timeline status_3" data-status="prepared"><span>Preparation</span></div>
             <div class="fs-2 my-5 status_timeline status_4" data-status="delivered"><span>Out for delivery</span></div>
             <div class="fs-2 my-5 status_timeline status_5" data-status="completed"><span>Completed</span></div>
         </div>
     </div>
 </section>
<!-- 
 <i class="fas fa-clipboard-check "></i>
 <i class="fas fa-check-double"></i>
 <i class="fas fa-pizza-slice"></i>
 <i class="fas fa-truck"></i>
 <i class="far fa-smile"></i> -->