<section>
   <div class="container">
    <table class="table table-bordered fs-3">
        <thead>
          <tr>
            <th scope="col">Orders</th>
            <th scope="col">Customer</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Placed At</th>
          </tr>
        </thead>
        <tbody id="orderTableBody">
        </tbody>
      </table>
   </div>
</section>